<h1>Sign Up for HackLaunch!</h1>

<p>It's the best!</p>

<form action='/sign_ups' method='post'>
    Your Name: <input type='text' name='name' />
    Your Email: <input type='text' name='email' />
</form>